1 VERSIONINFO
FILEVERSION 2,5,2,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "The Tor Project; Verity Freedom"
      VALUE "FileDescription", "For our and your freedom"
      VALUE "LegalCopyright", "BSD-3 license"
      VALUE "OriginalFilename", "AntiTor.exe"
      VALUE "ProductName", "Tor Portable"
      VALUE "ProductVersion", "GRU current; build 2.52"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END